.App-header {
    background-color: #3b298d;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
}
.Logo {
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    column-gap: 1vw;
    padding-left: 10px;
}
.Avatar {
    display: flex; 
    flex-direction: row wrap;
    align-items: center;
    margin-left: auto;
    column-gap: 1vw;
}
.profileDropdown {
    position: absolute;
    right: 0px;
    top: 10vh;
    color: black;
    font-size: 24px;
    text-align: left;
    width: 250px;
    padding-left: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.profileDropdown p:hover {
    background-color: black;
    color: #f5c458;
    transition: 300ms;
}
@media (max-width: 465px) {
    .Name {
        display: none;
    }
    .LogoName {
        display: none;
    }
}
