*{
/* Disable text-decoration on the entire page, to remove underlines on links*/
    text-decoration: none;
}
.card {
    background-color: white;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    color: black;
    border-color: grey;
}
.card:hover {
    background-color: black;
    color: #f5c458;
    transition: 300ms;
}
.m-2 {
    margin: 20px;
}
.btn-primary {
    background-color: wheat;
    border: 10px solid transparent;
    border-top: 5px solid transparent;
}
.employee-tiles {
    display: flex;
    flex-flow: row wrap;
    row-gap: 10px;
    column-gap: 50px;
    align-items: center;
    justify-content: center;

}
h2 {
    font-size: 48px;
}
h5 {
    font-size: 20px;
}
